:root {
  --hound-pink: #ff0f87;
  --hound-green: #1dd714;
  --hound-white: #ffffff;
  /* Shades */
  --hound-black-100: #1B1818;
  /* Heading */
  --hound-black-90: #1B1818E5;
  --hound-black-80: #1B1818CC;
  --hound-black-70: #1B1818B2;

  /* Paragraph */
  --hound-black-60: #1B181899;
  --hound-black-50: #1B181880;
  --hound-black-40: #1B181866;
}

/* ------- Hound Search Form --------*/
.hound-search-form-wrapper {
  text-align: center;
}

.hound-search-form {
  display: flex;
}

.hound-search-form-input {
  width: 100%;
  padding: 15px 15px;
  color: var(--hound-black-60);
  outline: none;
  border-radius: 4px 0 0 4px;
}

.hound-search-form .hound-btn {
  background: var(--hound-pink);
  color: var(--hound-white);
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 0 4px 4px 0;
}

.hound-search-form .hound-btn svg {
  fill: var(--hound-white);
  font-size: 20px;
}

.hound-search-form input[type=search],
.hound-search-form-input+.hound-btn {
  border: 2px solid var(--hound-pink);
}


[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}