:root {
	--hound-pink: #ff0f87;
	--hound-green: #1dd714;
	--hound-white: #ffffff;
	/* Shades */
	--hound-black-100: #1B1818;
	/* Heading */
	--hound-black-90: #1B1818E5;
	--hound-black-80: #1B1818CC;
	--hound-black-70: #1B1818B2;

	/* Paragraph */
	--hound-black-60: #1B181899;
	--hound-black-50: #1B181880;
	--hound-black-40: #1B181866;
}